* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Tahoma;
}
.fill {
  margin: 20px auto;
  text-align: center;
  font-weight: bolder;
  font-size: 90px;
  width: fit-content;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px rgb(98, 0, 255);
  position: relative;
}
.fill::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: rgb(0, 195, 255);
  width: 0;
  overflow: hidden;
  transition: 1.5s;
}
.fill:hover::before {
  width: 100%;
}
